{% extends "layout.html" %}
{% block body %}
  <div class="b-search-page">
    <form class="b-search" action="/" method="POST">
      <input class="b-search__input" type="search" name="q" placeholder="Search...">
    </form>
    <ul class="b-results">
    {% for result in results %}
      <li class="b-result">
        <span>
          {{ result.id }},
          {{ result.username }},
          {{ result.age }},
          {{ result.login }}
        </span>
      </li>
    {% endfor %}  
    </ul>
  </div>

{% endblock %}